<form action="/user/add" method="POST">
    <p> 
        <label for="">User Name</label>
        <input type="text" name="userName" required> <br>
        <label for="">Course Avatar</label>
        <input type="text" name="userAvatar" required> <br>
    </p>
    <button type="submit">Submit</button>
</form>